@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0%);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

.animate-slideUp {
  animation: slideUp 0.5s ease-out forwards;
}

.animate-slideDown {
  animation: slideDown 0.5s ease-in forwards;
}

.speaker-slider-details{
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    left: 0;
    padding: 30px 20px 40px;
    position: absolute;
    /* text-align: center; */
    width: 100%;
    z-index: 2;
}
